.pawon{
    border:2px solid;
     border-color:yellow;
      border-radius:205px;
}
#okna{
    border:2px solid;
    border-color:yellow;
    border-radius:205px;
}
.dama{
    //--ion-background-color:red;
}
.gud{
    height:100px;
    color:red;
}
.baga{
    //color:white;
}